.bg-storytelling{
    background-color: #191654;
}

.btn-storytelling-login{
    background-color: #43c6ac;
    color: #fff;
    border-color: #43c6ac;
}
@-ms-viewport{
  width: device-width;
}
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/






/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
    color: #fff;
    height: 100%;
  font-family: Poppins-Regular, sans-serif;
  background: #eee;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #191654; }
input:-moz-placeholder { color: #191654; }
input::-moz-placeholder { color: #191654; }
input:-ms-input-placeholder { color: #191654; }

textarea::-webkit-input-placeholder { color: #191654; }
textarea:-moz-placeholder { color: #191654; }
textarea::-moz-placeholder { color: #191654; }
textarea:-ms-input-placeholder { color: #191654; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #161954;
}

.txt2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.p-t-136{
    padding-top: 22px !important;
}

.sign-up-link{
 position: absolute;
    left: 1%;
    top: 2%;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic .instant-logo {
  max-width: 100%;
  margin-left:80px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 55%;
  padding: 20px auto 20px auto;
}

.login100-form-title {
  font-family: 'Kaushan Script', cursive ;
  font-size: 32px;
  color: #191654;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}
.form-control{
    width: 100% !important;
    height: 50px !important;
    padding: 0 30px 0 68px !important;
    background: #e6e6e6 !important;
    border:none !important;
    border-radius: 25px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


.input100 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;

}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #161954;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #161954;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #161954;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1.5px;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
  -webkit-box-shadow: 0px 0px 21px 2px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 21px 2px rgba(255,255,255,1);
  box-shadow: 0px 0px 21px 2px rgba(255,255,255,1);
}
select::-ms-expand {
    display: none;
}


/*------------------------------------------------------------------
[ Responsive ]*/

.profil-info{
  padding-left: 50px !important;
}

.profil-info .row{
  padding-bottom: 30px;
}

.menu-items .row{
  padding-bottom: 30px;
}

.menu-side{
  border-right: 1px solid #0000 !important;
  padding-left: 50px !important;
}

.profil{
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  border-radius: 20px 20px;
  background-color: #fff;
  padding-left: 50px !important;
  padding-top:80px !important;
  padding: 50px;
  min-height: 500px;
}
/*
@media (max-width: 992px) {

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 20px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 20px 15px 33px 15px;
  }
}

*/
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}
.select2-selection, .select2-selection--single{
  border-bottom: none !important;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
}
.select2{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  border-bottom: none;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 5px 30px 0 68px;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 100%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: 'Poppins', sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
/*------------------------------------------------------------------
[ Dowload ios/android image ]*/

.login-container .page-container {
 padding-top: auto;
position: static;
}
.login-container .page-container .login-form {
  width: 320px;
      margin-left: auto;
    margin-right: auto;
}
/*------------------------------------------------------------------
[ Footer ]*/

.footer{
  letter-spacing: 1px;
}
.footer a{
  color: rgb(255, 255, 255);
}

.remember-me{
  width: 100%;
  color: #fff;
}

/*------------------------------------------------------------------
[ Remember me checkbox ]*/

input[type="checkbox"]{
  -webkit-appearance:none;
  width:15px;
  height:15px;
  position:relative;
  outline:medium none;
  margin-right:10px;
}
input[type="checkbox"]::before{
  width:15px;
  height:15px;
  content:"";
  display:block;
  border:3px solid #fff;
  border-radius: 9px;
  position:absolute;
}
input[type="checkbox"]:checked::after{
  width:5px;
  height:5px;
  content:"";
  display:block;
  background: #fff;
  border-radius: 5px;
  position:absolute;
  left:5px;
  top:5px;
}


.log-container{
    position: absolute;
    background: #43c6ac;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
}

.log-container .left-content{
    width: 60%;
    display: inline-block;
    background: url("../images/login_cover.jpg");
    background-size: cover;
    height: 100%;

}

.log-container .right-content{
    float: right;
    width: 40%;
    display: inline-block;
    background: #f7f7f7;
    height: 100%;
    background: #43c6ac;
    box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.75);
}
.log-container .right-content .login100-form{
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
}

.log-container .left-content .instant-logo{
    vertical-align: middle;
    text-align: center;
    margin-top: 15%;
}
.log-container .left-content .instant-logo img{
        width: 380px;
    }
