{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label text-semibold')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{% block form_row -%}
    <div class="form-group {% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div class="col-lg-12">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
        </div>
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}
