/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/jwt
/var/jwt/*
!var/jwt/.gitkeep
!var/jwt/private.pem.dist
!var/jwt/public.pem.dist
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
/web/media/
/composer.phar
/.php_cs.cache

/web/assets/vendors/*
/web/build/*
/bower_components
/node_components
/node_modules
/yarn-error.log

/.idea
/nbproject
/components
