<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
</head>
<body>

<h1>Open the console to see the magic !</h1>
<div id="gallery">

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src=""></script>

<script>
    var conn = new ab.Session('ws://127.0.0.1:8888',
        function() {
            conn.subscribe('event-123456', function(topic, data) {
                // This is where you would add the new images to the DOM
                console.log('Topic: ' + topic );
                console.log(data);
                var gallery = $('#gallery');
                gallery.append("<p>Image By: " + data._name + "</p>");
                gallery.append("<img src=" + data._image +">");
            });
        },
        function() {
            console.warn('WebSocket connection closed');
        },
        {'skipSubprotocolCheck': true}
    );
</script>
</body>
</html>
