{% extends "::base_user.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
<div class="main">
    <form id="regForm" class="row" action="/action_page.php">
        <div id="example-basic">
            <h3>Choose plan</h3>
        <section>
        <div class="tab">
            <div id="generic_price_table">
                        <!--BLOCK ROW START-->
                        <div class="row">
                            <div class="col-md-3">

                                <!--PRICE CONTENT START-->
                                <div class="generic_content clearfix">

                                    <!--HEAD PRICE DETAIL START-->
                                    <div class="generic_head_price clearfix">

                                        <!--HEAD CONTENT START-->
                                        <div class="generic_head_content clearfix">

                                            <!--HEAD START-->
                                            <div class="head_bg"></div>
                                            <div class="head">
                                                <span>Gratuit</span>
                                            </div>
                                            <!--//HEAD END-->

                                        </div>
                                        <!--//HEAD CONTENT END-->

                                        <!--PRICE START-->
                                        <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">0</span>
                                    <span class="cent">.00</span>
                                </span>
                                        </div>
                                        <!--//PRICE END-->

                                    </div>
                                    <!--//HEAD PRICE DETAIL END-->

                                    <!--FEATURE LIST START-->
                                    <div class="generic_feature_list">
                                        <ul>
                                            <li><span>200</span> Nb Photo</li>
                                            <li><span>6h</span> Durée Event</li>
                                            <li><span>1 jour</span> Album Dispo</li>
                                            <li><span>20</span> Nb Invité</li>
                                            <li><span>X</span> Gamification</li>
                                            <li><span>X</span> Défi</li>
                                        </ul>
                                    </div>
                                    <!--//FEATURE LIST END-->

                                    <!--BUTTON START-->
                                    <div class="generic_price_btn clearfix">
                                        <input type="radio">
                                    </div>
                                    <!--//BUTTON END-->

                                </div>
                                <!--//PRICE CONTENT END-->

                            </div>

                            <div class="col-md-3">

                                <!--PRICE CONTENT START-->
                                <div class="generic_content active clearfix">

                                    <!--HEAD PRICE DETAIL START-->
                                    <div class="generic_head_price clearfix">

                                        <!--HEAD CONTENT START-->
                                        <div class="generic_head_content clearfix">

                                            <!--HEAD START-->
                                            <div class="head_bg"></div>
                                            <div class="head">
                                                <span>Starter</span>
                                            </div>
                                            <!--//HEAD END-->

                                        </div>
                                        <!--//HEAD CONTENT END-->

                                        <!--PRICE START-->
                                        <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">2</span>
                                    <span class="cent">.99</span>
                                </span>
                                        </div>
                                        <!--//PRICE END-->

                                    </div>
                                    <!--//HEAD PRICE DETAIL END-->

                                    <!--FEATURE LIST START-->
                                    <div class="generic_feature_list">
                                        <ul>
                                            <li><span>200</span> Nb Photo</li>
                                            <li><span>6h</span> Durée Event</li>
                                            <li><span>1 jour</span> Album Dispo</li>
                                            <li><span>20</span> Nb Invité</li>
                                            <li><span>X</span> Gamification</li>
                                            <li><span>X</span> Défi</li>
                                        </ul>
                                    </div>
                                    <!--//FEATURE LIST END-->

                                    <!--BUTTON START-->
                                    <div class="generic_price_btn clearfix">
                                        <input type="radio">
                                    </div>
                                    <!--//BUTTON END-->

                                </div>
                                <!--//PRICE CONTENT END-->

                            </div>
                            <div class="col-md-3">

                                <!--PRICE CONTENT START-->
                                <div class="generic_content clearfix">

                                    <!--HEAD PRICE DETAIL START-->
                                    <div class="generic_head_price clearfix">

                                        <!--HEAD CONTENT START-->
                                        <div class="generic_head_content clearfix">

                                            <!--HEAD START-->
                                            <div class="head_bg"></div>
                                            <div class="head">
                                                <span>Luxe</span>
                                            </div>
                                            <!--//HEAD END-->

                                        </div>
                                        <!--//HEAD CONTENT END-->

                                        <!--PRICE START-->
                                        <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">5</span>
                                    <span class="cent">.99</span>
                                </span>
                                        </div>
                                        <!--//PRICE END-->

                                    </div>
                                    <!--//HEAD PRICE DETAIL END-->

                                    <!--FEATURE LIST START-->
                                    <div class="generic_feature_list">
                                        <ul>
                                            <li><span>200</span> Nb Photo</li>
                                            <li><span>6h</span> Durée Event</li>
                                            <li><span>1 jour</span> Album Dispo</li>
                                            <li><span>20</span> Nb Invité</li>
                                            <li><span>X</span> Gamification</li>
                                            <li><span>X</span> Défi</li>
                                        </ul>
                                    </div>
                                    <!--//FEATURE LIST END-->

                                    <!--BUTTON START-->
                                    <div class="generic_price_btn clearfix">
                                        <input type="radio">
                                    </div>
                                    <!--//BUTTON END-->

                                </div>
                                <!--//PRICE CONTENT END-->

                            </div>

                            <div class="col-md-3">

                                <!--PRICE CONTENT START-->
                                <div class="generic_content clearfix">

                                    <!--HEAD PRICE DETAIL START-->
                                    <div class="generic_head_price clearfix">

                                        <!--HEAD CONTENT START-->
                                        <div class="generic_head_content clearfix">

                                            <!--HEAD START-->
                                            <div class="head_bg"></div>
                                            <div class="head">
                                                <span>Premium</span>
                                            </div>
                                            <!--//HEAD END-->

                                        </div>
                                        <!--//HEAD CONTENT END-->

                                        <!--PRICE START-->
                                        <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">14</span>
                                    <span class="cent">.99</span>
                                </span>
                                        </div>
                                        <!--//PRICE END-->

                                    </div>
                                    <!--//HEAD PRICE DETAIL END-->

                                    <!--FEATURE LIST START-->
                                    <div class="generic_feature_list">
                                        <ul>
                                            <li><span>200</span> Nb Photo</li>
                                            <li><span>6h</span> Durée Event</li>
                                            <li><span>1 jour</span> Album Dispo</li>
                                            <li><span>20</span> Nb Invité</li>
                                            <li><span>X</span> Gamification</li>
                                            <li><span>X</span> Défi</li>
                                        </ul>
                                    </div>
                                    <!--//FEATURE LIST END-->

                                    <!--BUTTON START-->
                                    <div class="generic_price_btn clearfix">
                                        <input class="form-check-input" type="radio" value="" id="defaultCheck1">
                                    </div>
                                    <!--//BUTTON END-->

                                </div>
                                <!--//PRICE CONTENT END-->

                            </div>
                        </div>
                        <!--//BLOCK ROW END-->
            </div>
        </div>
        </section>
            <h3>Event Informations</h3>
        <section>
        <div class="tab">
            <p><input class="input101" placeholder="Event name" type="text" name=""></p>
            <p><input class="input101" placeholder="Start At" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date"></p>
            <p><input class="input101" placeholder="End At" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date"></p>
            <p><input class="input101" placeholder="Place" type="text" name=""></p>
            <p><textarea placeholder="Description" ></textarea></p>
        </div>
        </section>
            <h3>Event Cover</h3>
        <section>
        <div class="tab">
            <p><input placeholder="dd" ></p>
            <p><input placeholder="yyyy"></p>
        </div>
        </section>
        </div>
    </form>
</div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="{{ asset('assets/js/plugins/steps/jquery.steps.min.js') }}"></script>
    <script>
        $("#example-basic").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true
        });
    </script>
{% endblock %}
