{% extends "::base_user.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
    <div class="main">

        <!-- Upcoming Event Start -->
        <section>
            <h4 class="upcoming-title">Upcoming Events</h4>
            <div class="upcoming-events">
                <div class="card-event">
                    <div class="event-image">
                        <img src="http://placehold.it/50/ccc" alt="">
                    </div>
                    <div class="event-info">
                        <div class="event-date">
                            <h5>Thursday, may 5, 8:00 PM</h5>
                        </div>
                        <div class="event-desc">
                            <p>Instan't Lorem Description for event</p>
                        </div>
                        <div class="event-place">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><p>Paris, France</p>
                        </div>
                    </div>
                    <div class="event-settings">
                        <div class="edit-event">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </div>
                        <div class="pay-status">
                            <i class="fa fa-usd unpaid" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="card-event">
                    <div class="event-image">
                        <img src="http://placehold.it/50/ccc" alt="">
                    </div>
                    <div class="event-info">
                        <div class="event-date">
                            <h5>Thursday, may 5, 8:00 PM</h5>
                        </div>
                        <div class="event-desc">
                            <p>Instan't Lorem Description for event</p>
                        </div>
                        <div class="event-place">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><p>Paris, France</p>
                        </div>
                    </div>
                    <div class="event-settings">
                        <div class="edit-event">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </div>
                        <div class="pay-status">
                            <i class="fa fa-usd paid" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="card-event">
                    <div class="event-image">
                        <img src="http://placehold.it/50/ccc" alt="">
                    </div>
                    <div class="event-info">
                        <div class="event-date">
                            <h5>Thursday, may 5, 8:00 PM</h5>
                        </div>
                        <div class="event-desc">
                            <p>Instan't Lorem Description for event</p>
                        </div>
                        <div class="event-place">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><p>Paris, France</p>
                        </div>
                    </div>
                    <div class="event-settings">
                        <div class="edit-event">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </div>
                        <div class="pay-status">
                            <i class="fa fa-usd paid" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="card-event">
                    <div class="event-image">
                        <img src="http://placehold.it/50/ccc" alt="">
                    </div>
                    <div class="event-info">
                        <div class="event-date">
                            <h5>Thursday, may 5, 8:00 PM</h5>
                        </div>
                        <div class="event-desc">
                            <p>Instan't Lorem Description for event</p>
                        </div>
                        <div class="event-place">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><p>Paris, France</p>
                        </div>
                    </div>
                    <div class="event-settings">
                        <div class="edit-event">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </div>
                        <div class="pay-status">
                            <i class="fa fa-usd paid" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="card-event">
                    <div class="event-image">
                        <img src="http://placehold.it/50/ccc" alt="">
                    </div>
                    <div class="event-info">
                        <div class="event-date">
                            <h5>Thursday, may 5, 8:00 PM</h5>
                        </div>
                        <div class="event-desc">
                            <p>Instan't Lorem Description for event</p>
                        </div>
                        <div class="event-place">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><p>Paris, France</p>
                        </div>
                    </div>
                    <div class="event-settings">
                        <div class="edit-event">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </div>
                        <div class="pay-status">
                            <i class="fa fa-usd paid" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="card-event add-event">
                    <a href=""><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>
        </section>
        <!-- Upcoming Event End -->
        <!-- Passed Event --->
        <section>
            <h4 class="passed-title">passed Events</h4>
            <div class="passed-events">
                <div class="card-event">
                    <div class="event-image">
                        <img src="http://placehold.it/50/ccc" alt="">
                    </div>
                    <div class="event-info">
                        <div class="event-date">
                            <h5>Thursday, may 5, 8:00 PM</h5>
                        </div>
                        <div class="event-desc">
                            <p>Instan't Lorem Description for event</p>
                        </div>
                        <div class="event-place">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><p>Paris, France</p>
                        </div>
                    </div>
                </div>

                <div class="card-event">
                    <div class="event-image">
                        <img src="http://placehold.it/50/ccc" alt="">
                    </div>
                    <div class="event-info">
                        <div class="event-date">
                            <h5>Thursday, may 5, 8:00 PM</h5>
                        </div>
                        <div class="event-desc">
                            <p>Instan't Lorem Description for event</p>
                        </div>
                        <div class="event-place">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><p>Paris, France</p>
                        </div>
                    </div>
                </div>

                <div class="card-event">
                    <div class="event-image">
                        <img src="http://placehold.it/50/ccc" alt="">
                    </div>
                    <div class="event-info">
                        <div class="event-date">
                            <h5>Thursday, may 5, 8:00 PM</h5>
                        </div>
                        <div class="event-desc">
                            <p>Instan't Lorem Description for event</p>
                        </div>
                        <div class="event-place">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><p>Paris, France</p>
                        </div>
                    </div>
                </div>

                <div class="card-event">
                    <div class="event-image">
                        <img src="http://placehold.it/50/ccc" alt="">
                    </div>
                    <div class="event-info">
                        <div class="event-date">
                            <h5>Thursday, may 5, 8:00 PM</h5>
                        </div>
                        <div class="event-desc">
                            <p>Instan't Lorem Description for event</p>
                        </div>
                        <div class="event-place">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><p>Paris, France</p>
                        </div>
                    </div>
                </div>


             </div>
        </section>
    </div>


{% endblock %}
