

<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    <li class="navigation-header"><span>Events</span> <i class="icon-menu" title="Main pages"></i></li>
                    <li class="active">
                        <a href="{{ path('app_default_mockup') }}"><i class="icon-pie-chart3"></i> <span>Overview</span></a>
                    </li>
                    <li>
                        <a href="{{ path('app_default_event') }}"><i class="icon-calendar"></i> <span>My Events</span></a>
                    </li>
                    <li>
                        <a href=""><i class="icon-add"></i> <span>Add Event</span></a>
                    </li>


                    <li class="navigation-header"><span>Upgrade</span> <i class="icon-menu" title="Main pages"></i></li>

                    <li>
                        <a href=""><i class="icon-server"></i> <span>Upgrade</span></a>
                    </li>
                    <!-- /main -->

                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
