{% extends "::base_user.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
<div class="main" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="progressbar-container">
            <ul class="progressbar">
                <li class="active">Choose plan</li>
                <li>Event information</li>
                <li>Event Cover</li>
                <li>Payement</li>
                <li>Invite friends</li>
            </ul>
        </div>
    </div>
    <form action="">
        <div id="generic_price_table">
            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-md-3">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Gratuit</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">€</span>
                                    <span class="currency">0</span>
                                    <span class="cent">.00</span>
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>200</span> Nb Photo</li>
                                <li><span>6h</span> Durée Event</li>
                                <li><span>1 jour</span> Album Dispo</li>
                                <li><span>20</span> Nb Invité</li>
                                <li><span>X</span> Gamification</li>
                                <li><span>X</span> Défi</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <input class="form-check-input" type="radio" value="" id="defaultCheck1">
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>

                <div class="col-md-3">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content active clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Starter</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">€</span>
                                    <span class="currency">2</span>
                                    <span class="cent">.99</span>
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>200</span> Nb Photo</li>
                                <li><span>6h</span> Durée Event</li>
                                <li><span>1 jour</span> Album Dispo</li>
                                <li><span>20</span> Nb Invité</li>
                                <li><span>X</span> Gamification</li>
                                <li><span>X</span> Défi</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <input class="form-check-input" type="radio" value="" id="defaultCheck1">
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>
                <div class="col-md-3">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Luxe</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">€</span>
                                    <span class="currency">5</span>
                                    <span class="cent">.99</span>
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>200</span> Nb Photo</li>
                                <li><span>6h</span> Durée Event</li>
                                <li><span>1 jour</span> Album Dispo</li>
                                <li><span>20</span> Nb Invité</li>
                                <li><span>X</span> Gamification</li>
                                <li><span>X</span> Défi</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <input class="form-check-input" type="radio" value="" id="defaultCheck1">
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>

                <div class="col-md-3">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Premium</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">€</span>
                                    <span class="currency">14</span>
                                    <span class="cent">.99</span>
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li><span>200</span> Nb Photo</li>
                                <li><span>6h</span> Durée Event</li>
                                <li><span>1 jour</span> Album Dispo</li>
                                <li><span>20</span> Nb Invité</li>
                                <li><span>X</span> Gamification</li>
                                <li><span>X</span> Défi</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <input class="form-check-input" type="radio" value="" id="defaultCheck1">
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>
            </div>
            <!--//BLOCK ROW END-->
        </div>
        <div class="arrows">
            <ul>
                <button href=""><li class="margin-right previous"><i class="icon-arrow-left12"></i></li></button>
                <button href=""><li class="next"><i class="icon-arrow-right13"></i></li></button>
            </ul>
        </div>
    </form>
</div>
{% endblock %}
