{% extends "client/invitation/base_invitation.html.twig" %}

{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
    <div class="main-panel">

{{ dump(invitations) }}
    </div>

{% endblock %}