
<div class="navbar navbar-default" id="navbar-second">
    <div class="navbar-boxed">
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-second-toggle">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('app_default_index') }}"><i class="icon-home position-left"></i> Accueil</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> Personnel </a></li>
                <li><a href="#"> Centres </a></li>
                <li><a href="#"> School </a></li>
            </ul>
        </div>
    </div>
</div>
