{% extends "@FOSUser/layout.html.twig" %}
{% block main_navbar %}
    {% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="panel reset-message panel-body panel-default">
        <div class="text-center">
            <div class="icon-object border-slate-400 text-slate-400"><i class="icon-mail-read"></i></div>
            <h2 class="content-group">CHECK YOUR EMAIL</h2>
        </div>
        <p>
            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        </p>
    </div>

    <style>
    .reset-message{
        text-align:center;
    }
    .reset-message h2{
        font-weight:600;
    }
    .reset-message p{
        font-size:16px;
    }
</style>
{% endblock %}
