<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instan't</title>
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" sizes="16x16">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/css/front/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/icons/fontawesome/styles.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block stylesheet %}{% endblock %}


</head>
{% block body %}
 <body>
    <!-- Main navbar -->
    <div class="wrapper ">
    {% block sidebar %}
        {% include 'front/sidebar.html.twig' %}
    {% endblock %}
    
    {% block container %}
        
    {% endblock %}
    {% block footer %}
        {% include 'front/footer.html.twig' %}
    {% endblock %}
    </div>
    {% block javascripts %}   
  
     {% endblock %}
    </body>
{% endblock %}

</html>
