

<div class="sidebar" data-color="instant">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="" class="simple-text logo-normal">
          <img src="{{ asset('assets/images/logo.png') }}" alt="">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="">
              <i class="now-ui-icons fa fa-calendar-o"></i>
              <p>Events</p>
            </a>
          </li>
          <li >
            <a href="./user.html">
              <i class="now-ui-icons fa fa-plus"></i>
              <p>Add Event</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="./upgrade.html">
              <i class="now-ui-icons fa fa-user"></i>
              <p>Profile</p>
            </a>
          </li>
        </ul>
      </div>
    </div>