<div class="sidenav animated fadeInLeft">
    <img src="{{ asset('assets/images/logo.png') }}" class="responsive" alt="">
    <div class="menu">
        <div class="item margin-bottom active">
            <i class="icon-quill4"></i><a href="#">Events</a>
        </div>
        <div class="item">
            <i class=" icon-plus3"></i><a href="">Add Event</a>
        </div>
    </div>
    <div class="user">
        <div class="info">
            <div class="avatar">
                <img src="{{ asset('images/image.png') }}" alt="">
            </div>
            <h4>username</h4>
        </div>
        <div class="setting">
            <div class="item">
               <a href="#"> <i class="icon-user"></i></a>
            </div>
            <div class="item">
                <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
