{% extends "mail/layout.html.twig" %}

{% block content %}
    <br><br>
    <p>
         {{ 'mail.notification.invitation_request'|trans({'%event_creator%': event_creator}) }}<br>
        {{ link }}<br>
        {{ message }}
    </p>

{% endblock %}