{% extends "client/profile/base_profile.html.twig" %}

{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
<div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">

      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg">
        <canvas id="bigDashboardChart"></canvas>
      </div>
        <div class="content">
            <div class="col-md-10 mr-auto ml-auto">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card card-wizard active" data-color="primary" id="wizardProfile">
                        <div class="card-header text-center" data-background-color="orange">
                            <h5 class="card-title">
                                    PROFILE
                            </h5>
                            <div class="wizard-navigation">
                                <ul class="nav nav-pills">
                                    <li class="nav-item active" style="width: 50%;">
                                        <a class="nav-link" href="">
                                            <i class="now-ui-icons fa fa-tag"></i>
                                            Modifier Mon profile
                                        </a>
                                    </li>
                                    <li class= "nav-item" style="width: 50%;">
                                        <a class="nav-link" href="">
                                            <i class="now-ui-icons fa fa-tag"></i>
                                            Change de mot de passe
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="profile-img">
                                        <img id="img-profile" src="http://placehold.it/300" alt="">
                                        <input onchange="readURL(this);" id="upload" type="file"/>
                                        <a href="" id="upload_link">Edit image profile</a>​
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Nom Complet</label>
                                            <input type="text" class="form-control" placeholder="Nom Complet">
                                        </div>
                                    </div>

                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>

                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Time Zone</label>
                                            <input type="datetime-local" class="form-control" placeholder="Company">
                                        </div>
                                    </div>
                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control" placeholder="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-danger">Delete Account</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-success">Enregistrer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    $(function(){
        $("#upload_link").on('click', function(e){
            e.preventDefault();
            $("#upload:hidden").trigger('click');
        });
    });

    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-profile')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
{% endblock %}
