{% extends "::base_user.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
    <div class="main">

        <div class="panel-body">
            <p class="content-group-lg"></p>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            <div class="text-right">
                <button type="submit" class="btn btn-primary legitRipple" name="send">{{ 'user.submit'|trans }} <i class="icon-arrow-right14 position-right"></i></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}