{% extends "client/event/base_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
    <div class="main">
        <div class="event-manager">
            <div class="row">
                <div class="instant-card card">
                    <div class="wrapper">
                        <div class="date">
                            <span class="day">12</span>
                            <span class="month">Aug</span>
                            <span class="year">2016</span>
                        </div>
                        <div class="data">
                            <div class="content">
                            <span class="author">Marrakech, Morocco</span>
                            <h1 class="title"><a href="#">What is Lorem Ipsum</a></h1>
                            <p class="text">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
                            <label for="show-menu" class="menu-button"><span></span></label>
                            </div>
                            <input type="checkbox" id="show-menu" />
                            <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-trash-o"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-trash-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-pencil"></a></li>
                            <li><a href="#" class="fa fa-share-alt"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery">
                <div class="row">
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="http://placehold.it/150" alt="">
                                <div class="caption-overflow">
                                    <span>
                                        <a href="" data-popup="lightbox" rel="gallery" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-eye"></i></a>
                                        <a href="" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-cloud-download2"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="http://placehold.it/150" alt="">
                                <div class="caption-overflow">
                                    <span>
                                        <a href="" data-popup="lightbox" rel="gallery" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-eye"></i></a>
                                        <a href="" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-cloud-download2"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="http://placehold.it/150" alt="">
                                <div class="caption-overflow">
                                    <span>
                                        <a href="" data-popup="lightbox" rel="gallery" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-eye"></i></a>
                                        <a href="" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-cloud-download2"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="http://placehold.it/150" alt="">
                                <div class="caption-overflow">
                                    <span>
                                        <a href="" data-popup="lightbox" rel="gallery" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-eye"></i></a>
                                        <a href="" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-cloud-download2"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}