{% extends "client/event/base_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">

      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg">
        <canvas id="bigDashboardChart"></canvas>
      </div>
        <div class="content">
            <div class="col-md-10 mr-auto ml-auto">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card card-wizard active" data-color="primary" id="wizardProfile">
                            <div class="card-header text-center" data-background-color="orange">
                                <h5 class="card-title">
                                    NEW EVENT
                                </h5>
                                {% include 'client/event/menu_creation.html.twig'  with {'invite': 'active'} %}
                            </div>

                            <div class="card-body">
                                <div class="invite-friends-form">
                                {{ form_start(form, {'attr': {'class': 'list-friends'}}) }}
                                {{ form_widget(form) }}
                                    <div class="row">
                                        <div class="email-input col-md-12">
                                            <input id="add-friend" type="email" name="listItem" placeholder="example@email.com" />
                                            <button class="btn add-friend-btn" type="button">Add</button>
                                        </div>
                                        <div class="list-emails col-md-12">
                                            <ol></ol>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-2">
                                            <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2F127.0.0.190%3A8000%2F&layout=button&size=large&mobile_iframe=true&width=72&height=28&appId" width="72" height="28" style="border:none;overflow:hidden;margin-top: 20px" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">Next</button>
                                </div>
                                {{ form_end(form) }}
                                <div class="pull-left">
                                    {% set route = 'add_event_payment' %}
                                    {% if isPaid %} {% set route = 'add_event_event_cover' %} {% endif %}
                                    <a href="{{ path(route , { 'id' : event.id}) }}" class="btn btn-previous btn-fill btn-default btn-wd" name="previous" value="Previous">Previous</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //add a variable called toAdd as the value of the input
        $(document).ready(function() {
            var list = [];
            var email_inputs = $("input[id=appbundle_invitation_request_items]");
            $('.btn').click(function() {
                var toAdd = $("input[name=listItem]").val();
                var atpos = toAdd.indexOf("@");
                var dotpos = toAdd.lastIndexOf(".");

                if (atpos<1 || dotpos<atpos+2 || dotpos+2>=toAdd.length) {
                    alert("Not a valid e-mail address");
                    return false;
                }else{
                    list.push(toAdd)
                    console.log(list)
                    //Append the ordered list to add in a list item with the variable toAdd and a 'done' button
                    $('ol').append('<a index="'+(list.length-1)+'"><input value='+toAdd+'><h5>x</h5></a>');

                    email_inputs.val(email_inputs.val() + toAdd + ';');
                }

            });
            //The following will cross out and remove the list item when clicking on the button or the list item itself
            $(document).on('click', 'a', function() {
                var index = parseInt($(this).attr("index"));
                delete list[index];
                email_inputs.val('');

                var emls = "";
                list.forEach(function(element) {
                    emls += element+";"
                });
                email_inputs.val(emls);
                $(this).remove();
            });
            //This clears the previous input when clicking on the input box
            $('input').focus(function() {
                $(this).val('');
            });
        });

    </script>
{% endblock %}
