{% extends "client/event/base_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
<div class="main" xmlns="">
        <div class="progressbar-container">
            <ul class="progress-indicator">
            <li class="completed">
                <span class="bubble"></span>
                Choose plan
            </li>
            <li class="completed">
                <span class="bubble"></span>
                Add Challenge
            </li>
            <li class="completed">
                <span class="bubble"></span>
                Event information
            </li>
            <li class="completed">
                <span class="bubble"></span>
                Event Cover
            </li>
            <li class="completed">
                <span class="bubble"></span>
                Payment
            </li>
            <li class="active">
                <span class="bubble"></span>
                Invite Friends
            </li>
        </ul>
        </div>
        <div class="invite-friends-form"> 
            
            {{ form_start(form, {'attr': {'class': 'list-friends'}}) }}
            {{ form_widget(form) }}
                <div class="row">
                    <div class="email-input col-md-12">
                        <input id="add-friend" type="email" name="listItem" placeholder="example@email.com" />
                        <button class="btn add-friend-btn" type="button">Add</button>
                    </div>
                    <div class="list-emails col-md-12">
                        <ol></ol>
                    </div>
                </div>
                <div>
                    <div class="col-md-6">
                        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2F127.0.0.190%3A8000%2F&layout=button&size=large&mobile_iframe=true&width=72&height=28&appId" width="72" height="28" style="border:none;overflow:hidden;margin-top: 20px" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>
                    <div class="col-md-6 mt-15">
                    <button type="submit">Send</button>
                    </div>
                </div>
                <div class="arrows">
                    <ul>
                        {% set route = 'add_event_payment' %}
                        {%  if isPaid %}    {% set route = 'add_event_event_cover' %}   {% endif %}
                        <a href="{{ path(route , { 'id' : event.id}) }}"><li class="margin-right previous"><i class="icon-arrow-left12"></i></li></a>
                        <button type="submit"><li class="next"><i class="icon-arrow-right13"></i></li></button>
                    </ul>
                </div>
        </div>
           {{ form_end(form) }}
</div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTRusNhOQxYeGHi4U8cNOmHk4tAWzDjCs&libraries=places"></script>
        <script>

            //add a variable called toAdd as the value of the input
            $(document).ready(function() {
                var list = [];
                var email_inputs = $("input[id=appbundle_invitation_request_items]");
            $('.btn').click(function() {
                var toAdd = $("input[name=listItem]").val();
                list.push(toAdd)
                console.log(list)
                //Append the ordered list to add in a list item with the variable toAdd and a 'done' button
                $('ol').append('<a index="'+(list.length-1)+'"><input value='+toAdd+'><h5>x</h5></a>');
                
                email_inputs.val(email_inputs.val() + toAdd + ';');
            });
            //The following will cross out and remove the list item when clicking on the button or the list item itself
            $(document).on('click', 'a', function() {
                var index = parseInt($(this).attr("index"));
                delete list[index];
                email_inputs.val('');
                
                var emls = "";
                list.forEach(function(element) {
                       emls += element+";"
                });
                email_inputs.val(emls);

                $(this).remove();
            });
            //This clears the previous input when clicking on the iput box
            $('input').focus(function() {
                $(this).val('');
            });
            });

            
        </script>


{% endblock %}
