{% extends "client/event/base_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
<div class="main" xmlns="">
        <div class="progressbar-container">
            <ul class="progressbar">
                <li>Choose plan</li>
                <li>Event information</li>
                <li>Event Cover</li>
                <li >Payment</li>
                <li class="active">Invite friends</li>
            </ul>
        </div>
    <input id="email_content" type="email">  <a onclick="add()">ADD</a>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}


    {{ form_widget(form) }}
    <div class="text-right">
        <div class="btn-group">
            <button class="btn btn-primary legitRipple" type="submit">SEND<i class="icon-rotate-cw2 position-right"></i></button>
        </div>
    </div>
    {{ form_end(form) }}
</div>

    {% block javascripts %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTRusNhOQxYeGHi4U8cNOmHk4tAWzDjCs&libraries=places"></script>
        <script src=""></script>
        <script>
            $(function(){

                var autocomplete;
                var geocoder;
                var input = document.getElementById('location');
                var options = {
                    componentRestrictions: {'country':'us'},
                    types: ['(regions)'] // (cities)
                };

                autocomplete = new google.maps.places.Autocomplete(input,options);

                $('#go').click(function(){
                    var location = autocomplete.getPlace();
                    geocoder = new google.maps.Geocoder();
                    console.log(location['geometry'])
                    lat = location['geometry']['location'].lat();
                    lng = location['geometry']['location'].lng();
                    var latlng = new google.maps.LatLng(lat,lng);

                    // http://stackoverflow.com/a/5341468
                    geocoder.geocode({'latLng': latlng}, function(results) {
                        for(i=0; i < results.length; i++){
                            for(var j=0;j < results[i].address_components.length; j++){
                                for(var k=0; k < results[i].address_components[j].types.length; k++){
                                    if(results[i].address_components[j].types[k] == "postal_code"){
                                        zipcode = results[i].address_components[j].short_name;
                                        $('span.zip').html(zipcode);
                                    }
                                }
                            }
                        }
                    });

                });


            });
        </script>
        <script>
            function add(){
                let email= $('#email_content').val();
                console.log(email);
                if( email!= '') {
                    $('#appbundle_invitation_request_emailLists')
                        .append($("<option></option>")
                            .attr("value", email)
                            .text(email));
                    $('#appbundle_invitation_request_emailLists option').prop('selected', true);
                }
            }






        </script>
    {% endblock javascripts %}

{% endblock %}
