{% extends "client/event/base_event.html.twig" %}
{% block title %}AppBundle:Default:index{% endblock %}

{% block container %}
<div class="main">
    <div class="progressbar-container">
        <ul class="progressbar">
            <li>Choose plan</li>
            <li>Event information</li>
            <li>Event Cover</li>
            <li class="active">Payment</li>
            <li>Invite friends</li>
        </ul>
    </div>
    <div class="event-cover-form animated zoomInUp">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
        {{ form_rest(form)}}
    </div>
    <div class="text-right">
        <div class="btn-group">
            <button class="btn btn-primary legitRipple" type="submit">SEND<i class="icon-rotate-cw2 position-right"></i></button>
        </div>
    </div>
    {{ form_end(form) }}
</div>

    {% block javascripts %}

    {% endblock javascripts %}

{% endblock %}
